# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/

# environment variables
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test coverage
coverage/

# Prisma
apps/api/src/prisma/migrations/*.db

# OS
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/
*.swp
*.swo
